#title {
    background-color: #ff4c68;
    color: #fff;
	z-index: -10;
	padding-bottom: 8rem;
}
.container-fluid {
	padding: 3% 15%;
}
.heading {
    font-size: 4rem;
    line-height: 1.5;
    
    font-family: 'Goldman', cursive;

    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    
    font-family: "Montserrat-Black";
}
h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	line-height: 5rem;
	padding-bottom: 3rem;
}

h3 {
    font-family: 'Goldman', cursive;

    font-family: 'Ubuntu', sans-serif;
    
    font-family: 'Montserrat', sans-serif;

}


.rotate {
	transform: rotate(10deg);
	width: 25%;
	position: absolute;
	z-index: 1;
}
section {
	font-family:'Montserrat'
}
.navbar-brand {
	font-family:'Ubuntu';
	font-size: 2rem;
	font-weight: bold;
}

nav {
	margin-bottom: 5em;
}

.nav-link {
	margin-left: 2em;
	margin-right: 2em;
	font-size:1.5rem;
}

.download {
	margin-top: 10rem;
	margin-right: 5rem;

}

.caption-icon {
	color: #ef8172;
	font-size: 3rem;
	
}
.caption-icon:hover {
	color: #ff4c68;
}

.caption-heading {
	font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

.caption-sub {
	color:#8f8f8f;
}

.features-block {
	text-align: center;
}

#features {
	padding-top: 10rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 10rem;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

#testimonials {
	padding: 7% 15%;
	text-align: center;
	background-color: #ff4c68;
	color: #fff;
	z-index: 2;

}

.doggo {
	border-radius: 50%;
}

.press-container {
	background-color: grey;
	padding: 2rem;
	padding-top: 4rem;
	margin-bottom: 4rem;
	text-align: center;
}

.press-image {
	margin-left: 5rem;
	margin-right: 5rem;
}

.card-body {
	text-align: center;
}

.card-header {
	text-align: center;
}

.pricing {
	padding: 100px;
}

.sign-up {
	margin-top: 2rem;
}

.price-block {
	padding: 4rem;
}

#pricing{
	padding: 2% 10%;
}

.pricing-sub {
	margin-bottom: 3rem;
}

#cta {
	background-color: #ff4c68;
	text-align: center;
	padding: 7% 15%;
}

.cta-heading {
	padding-bottom: 5rem;
	font-size: 3rem;
	color: #fff;
	font-weight: bold;
}

.cat-button {
	margin-right: 3rem;
}

#footer {
	text-align: center;
	padding: 9% 15%;
}

.footer-icon {
	padding-left: 3rem;
	font-size: 2rem;
	padding-right: 3rem;
}

.footer-text {
	margin-top: 3rem;
	color: grey;
}

@media (max-width: 1100px) {
	.title {
		text-align: center;
	}
	.rotate {
		position: static;
		transform: rotate(0);
	}
	
}

